<!DOCTYPE html>
<html>
<head>
  <title>O chytrém ševci a hloupém èertovi</title>
  <meta charset="utf-8">
  <style>
     h1 { color: blue;
		font-size: 3em;
		text-decoration: underline;
		font: Verdana, arial;
		font-style: italic;
		text-align: left;
		
		  }
	body  { background-color: white;
			  font-size: 17px;
			  font-weight: normal;
			  line-height: 2em;
		  		font-style: normal;
			  text-align: justify;
			  font-family: Verdana, Arial, Helvetica;
		  	padding: 30px;

		}	
	  
.zanr, .autor, .zdroj {	text-align: left;
			font-size: 14px;
			font-style: italic;
	}

.autor, .zdroj {margin-top: inherit;
	margin-bottom: inherit;
	}
h2 {font-size: 2em;
	color: indianred;
	
}
i {font-style: italic;
	
	}
blockquote {color: darkred;
text-transform: uppercase;
	
}
li {border: none;
		}  
div {background-image: url(https://www.alkim.de/images/product_images/info_images/Teufel-125_0.jpg); float: none;
background-repeat: no-repeat;
background-position: right 5%;
margin: 10px; padding: 20px;

border-width: 1px; border-style: solid; border-color: blue; 
}
footer {font-size: 2em;
	font-weight: bold;
	text-align: left;
}
  </style>


</head>
<body>
  <div class="content">
    <header>
      <p class="zanr">Pohádka</p>
    
      <h1>O chytrém ševci a hloupém èertovi</h1>
    
      <p class="autor">autor pùvodního textu: <span class="name">Miloš Novotnı</span></p>
      
      <p class="zdroj">adaptováno z textu dostupného na <a href="http://dum.rvp.cz/materialy/pohadka-o-chytrem-sevci-a-hloupem-certovi.html">RVP.cz</a></p>
    </header>
    
    <section id="uvod">
      <p>Jeden švec mìl moc dìtí a málo penìz. Take mìl i velkou bídu. Jednou z toho byl tak nešastnı, e zavolal èerta, aby mu pomohl. A èert tu byl raz dva.</p>

      <p><i>„Co si ádáš? Všechno ti splním. <em>Staèí podepsat mi pekaø tady papír, e mi dáváš svoji duši.</em>“</i></p>
    </section>
    
    <section id="pytel">
      <h2>Pytel penìz</h2>

      <p>Švec tedy podepsal a chtìl pytel zlatıch penìz, tak velkı, jakı jen èert unese. Èert se vypravil do pekla a za chvíli byl i s obrovskım pytlem zpátky. Pak popadl svùj papír a  s ševcovım podpisem a upaloval domù. Pyšnì ho tam ukázal svému tatínkovi, hlavnímu èertovi, ale ten se na nìj místo pochvaly rozkøiknul: <i>„Za jediného obyèejného ševce jsi dal tolik zlatıch penìz?! Ty darebáku. Okamitì jdi za ním, a ti ty peníze vrátí a svùj podpis si nechá!“</i> S tím vyhnali nešastného èerta z pekla. Nezbylo mu, ne se vydat zpátky za ševcem.</p>

      <p>Pøišel k ševci a povídá: <i>„Je mi tì líto, e jsi svou duši odkázal peklu. A já bych zas docela rád dostal zpátky ten pytel zedník penìz,“</i></p>
      
      <aside>
        <blockquote>
          „Èerti to zkrátka nemají lehké.“
        </blockquote>
      </aside>

      <p><i>„Víš co,“</i> zasmál se švec. <i>„Udìláme to takhle: Budeme spolu soutìit. Kdy vyhraješ ty, dostaneš zpátky pytel penìz a mùeš si nechat i ten papír s mım podpisem. Ale kdy vyhraji já, vrátíš mi papír a pytel zlata si nechám.“</i></p>
    </section>
    
    <section id="soutez">
      <h2>Soutìení</h2>

      <p>Takovı návrh se èertovi zalíbil. Znal rùzná èertovská kouzla a myslel si, e urèitì vyhraje.</p>

      <p><i>„A v èem budeme soutìit?“</i></p>

      <ol>
        <li>
          <p><i>„Nejdøív budeme zápasit. Ale já bych ti mohl ublíit, a tak se radìji budeš potıkat s mım dìdeèkem. Podívej se, zrovna támhle spí v køoví. Jdi a vzbuï ho.“</i></p>

          <p>Èert vlezl do køoví, kde spal zrovna velkı huòatı medvìd. Zatahal medvìda za krejèí nohu, ten se vzbudil, a e byl z toho probuzení celı rozmrzelı, popadl èerta a praštil s ním o zem. Èert se polekal a utekl do pekla. Kdy ho ale uvidìl hlavní èert a slyšel, co se stalo, hned poslal èerta zpátky. Nezbylo mu, ne jít znovu za ševcem.</p>

          <p><i>„Pojï, budeme spolu zase soutìit. Tentokrát urèitì vyhraju.“</i></p>
        </li>
        <li>
          <p><i>„Jak myslíš,“</i> povídá švec. <i>„Budeš tedy závodit s mım synkem. Je docela malı a urèitì ho pøedbìhneš spíš, ne mì. Podívej se, támhle zrovna sedí!“</i> A švec ukázal na zajíèka, krèícího se v brázdì.</p>

          <p>Èert se rozbìhl, ale ten na nic neèekal a upaloval tak rychle, e byl za kominík chvilku pryè. A tak èert znovu prohrál.</p>

          <p><i>„Budeme soutìit ještì jednou,“</i> navrhl ševci.</p>
          
          <p><i>„Proè by ne?“</i> souhlasil švec.</p>
        </li>
        <li>
          <p><i>„Budeme házet kamenem. Kdo jej vyhodí vıš, ten vyhraje.“</i></p>

          <p><i>„Vıbornì,“</i> souhlasil horlivì èert, protoe umìl znamenitì házet. A hned popadl velkı kámen a hodil ho tak vysoko, e museli dlouho èekat,ne spadl zpátky na zem.</p>

          <p>Švec si mezitím schoval do dlanì malého ptáèka zpìváèka, kterého si choval doma v klícce. Kdy na nìj pøišla øada, vyhodil ptáèka do vzduchu, a ten letìl vysoko a daleko. Èekali dlouho, pøedlouho, ale kde nic, tu nic.</p>

          <p>Èert uznal, e zase prohrál. Vrátil ševci papír s jeho podpisem a nechal mu i pytel zlata. Musel s nepoøízenou domù. e tam dostal zase vynadáno, to si domyslíte. Èerti to zkrátka nemají lehké.</p>
        </li>
      </ol>
    </section>
      
    <section id="zaver">
      <h2>Spravedlnost?</h2>
      
      <p>A chytrı švec s rodinou se radovali, jak pøevezli hloupého èerta.</p>
    </section>

    <footer>
      <p>Konec</p>
    </footer>

  </div>
</body>
</html>
